/* Sélécteur universel : sélectionne tous les éléments HTML de la page */
/* rénitialisation (reset) du site */
* {
    margin: 0;
    padding: 0;
    /* Gérer correctement la taille */
    /* l'élément Div avec 300px du width : il correspond à la larguer totale de l'élément, bordure et padding compris */
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(223, 223, 223, 0.725);
}

/* content-box : Comprtement du CSS par défaut */
/* largeur réelle => 300 contenu + 40px padding (padding-left + padding-right) + 10px bordure (border-left + border-right) = 350px */
/* div {
    width: 300px;
    padding: 20px;
    border: 5px solid
} */

header {
    /* la propriété principale de Flexbox */
    display: flex;
    /*flex-direction :row; */
    /* height: 1500px; */
    flex-wrap: wrap;
    /* z-index gère l'ordre de profondeur */
    z-index: 10;
    justify-content: space-between;
    /*center les éléments sur l'axe principale = axe horizontal */
    align-items: center;
    /*  center les éléments sur l'axe secondaire = axe vertical */
    margin: 10px 0px;
    /* coller header en haut de la page */
    position: sticky;
    top: 0;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;

}


header h2 {
    margin: 20px 0;
}

/* Header Footer */
header,
footer {
    background-color: grey;
    color: black;
    text-align: center;
    padding: 20px;
}


/* pour les "a" qui sont enfants de "header" */
header a,
footer a {
    color: black;
    text-decoration: none;
}

.icon {
  font-size: 40px; /* augmente la taille */
}

h2 {
    text-align: center;
}

img {
    width: 200px;
    height: 150px;
}

table img {
    width: 100px;
    height: auto;
}

/* main */

main {
    /* une limite maximale, pas une largeur obligatoire */
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Formulaire : Inscription/connexion/contact */
.form {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    /* 20px => marge en haut et en bas (axe vertical) */
    /* auto => navigateru calcule auto les marges gauche/droite pour centrer l'élément horizontalement */
    margin: 20px auto;
    border: 1px solid rgb(175, 171, 171);
    border-radius: 10px;
}

.signup-fieldset {
    border: 1px solid rgb(175, 171, 171);
    padding: 15px 50px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.signup-legend {
    font-weight: bold;
    padding: 5px;
}

.form div {
    margin-bottom: 15px;
}

.form label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(175, 171, 171);
    border-radius: 5px;
}

#nom {
    border: 2px dotted red;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: grey;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


/* Les articles produits */
.product-card {
    position: relative;
    background-color: #ececec;
    width: auto;
    height: 450px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.badge {
    background-color: darkred;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
    position: absolute;
    top: 0px;
    left: 0px;
}

.product-card h3 {
    font-size: 20px;
    font-weight: bolder;
}

.product-card p span {
    color: #6e3e07;
    font-weight: bold;
}

.product-card p {
    margin: 10px 0;
}

.product-card img {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid #d7d7d7;
    border-radius: 5px;
}

.product-card p:last-of-type {
    /* color: darkred; */
    font-weight: 900;
    font-size: 20px;
}

.product-card button {
    background-color: grey;
    border: none;
}

/* n'importe quel p à l'intérieur de lélément HTML ayant class product-card */
/* .product-card p {
    color: green;
} */

/* <p> enfants directs de lélément HTML ayant class product-card */
/* .product-card > p {
    color: aqua;
} */

/* le + pour indiquer "élément frère directement suivant */
/* .product-card + p {
    color: yellow;
} */

/* Tableau */
.table-container {
    border: 2px solid grey;
    border-radius: 10px;
    /* overflow: hidden;*/
    /*  cacher ce qui dépasse */
    overflow-x: auto;
    /* Si le contenu est trop large horizontalement, permet à l'utilisateur de le faire défiler  */
}

table {
    /* Permet de fusionner les bordures des cellules d'un tableau */
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: antiquewhite;
}

th,
td {
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
}

/* thead th:first-child{
    border-top-left-radius: 10px;
}

thead th:last-child{
    border-top-left-radius: 10px;
} */




/* Le conteneur flex */
/* Aligner les produits horizontalement */
/* .product-container { */
/* la propriété principale de Flexbox */
/* display: flex; */
/*flex-direction :row; */
/* height: 1500px; */
/* flex-wrap: wrap; */
/* justify-content: space-evenly; */
/*center les éléments sur l'axe principale = axe horizontal */
/* align-items: center; */
/*  center les éléments sur l'axe secondaire = axe vertical */
/* flex-direction: column; */
/* } */


/* Conteneur Flexbox */
.categories-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* permet le retour à la ligne */
    gap: 20px;
    /* espace homogène entre les éléments */
    list-style: none;
    /* supprime les puces de la liste */
}

/* Les cartes catégories */
.categories-card {
    background-color: #ececec;
    width: auto;
    height: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.categories-card h2 {
    font-size: 20px;
    font-weight: bolder;
}

.categories-card img {
    width: 200px;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.categories-card button {
    background-color: grey;
    border: none;
}

.categories-card button:hover {
    transform: scale(1.05);
    background-color: #e94444;
}





/* Aligner les produits verticalement */
/* .products-container { */
/* la propriété principale de Flexbox */
/* display: flex; */
/* height: 1500px; */
/* flex-direction: column;Choisir la direction des éléments : colonne */
/* justify-content: center;  center les éléments sur l'axe principale = axe vertical */
/* align-items: center; center les éléments sur l'axe secondaire = axe horizontal */
/* } */

/* .products-list h2 {
    color: red;
    font-size: larger;
} */

/* .titre-presentation{ */
/* padding: 10px 15px 20px 5px; */
/* padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 5px; */
/* border: 1px dashed #1e40af; */
/* border-width: 1px;
border-style: dashed;
border-color: #1e40af; */
/* margin: 50px; */
/* } */

/* Flexbox */
/* .product-container {
    display: flex;
    align-items: center;
} */

/* grid css */
.product-container {
    display: grid;
    /* Découper ligne en morceaux */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    /* Dépplacer la grille entière */
    justify-content: center;
    align-content: center;
    /* poitionner les éléments dans leurs cellules */
    justify-items: center;
    align-items: center;
}

/* .prod1 {
 align-self: flex-end;
} */

/* position des éléments */
/* .titre-presentation {
    position: relative;
    top: 20px;
    left: 30px;
} */

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

td {
    position: relative;
}

.badge-table {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: darkred;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
}

.carousel-img {
    width: 60%; 
    height: auto;
    margin: auto; 
}

div a {
  display: inline-flex;        /* permet de centrer l’icône */
  align-items: center;
  justify-content: center;
  width: 44px;                 /* taille minimale recommandée */
  height: 44px;
  margin: 6px;                 /* espace entre les icônes */
  text-decoration: none;
}
